.text-custom,
.custom-nav .navbar-nav li a:hover,
.custom-nav .navbar-nav li a:active,
.custom-nav .navbar-nav li.active a,
.custom-nav.stickyadd .navbar-nav li a:hover,
.custom-nav.stickyadd .navbar-nav li a:active,
.custom-nav.stickyadd .navbar-nav li.active a,
.about-social li a:hover {
  color: #f1b546 !important;
}

.btn-custom,
.form-kerri .form-control:focus,
.about-social li a:hover {
  border-color: #f1b546;
}

.btn-custom,
.back_top,
.services-boxes .services-title-border,
.owl-theme .owl-controls .owl-page span,
.work_menu a.active,
.work_menu a:hover {
  background-color: #f1b546;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom.focus,
.btn-custom:active,
.btn-custom:focus,
.btn-custom:hover,
.open > .dropdown-toggle.btn-custom {
  background-color: #f1b546;
  border-color: #f1b546;
}
